streamlit
spacy
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
sentence-transformers
openai
PyMuPDF
scikit-learn
numpy
pandas
pytest
openai
python-dotenv
